ion-thumbnail{
    background-color: black;
color: white;
border-radius: 50px;
text-align: center;
font-size: 30px;
width: 100px;
height: 100px;
margin-top: 5%;

}
.container{
width: auto;
}
.sb{
    margin-top: 40%;
    padding-top: 40%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;



}
ion-title{
    text-align: center;
}
ion-grid{
    background-color: rgb(216, 238, 238);
}
