





<ion-content> 
<ion-button class="btn1" color="light">
  <ion-icon color="dark" name="close-outline"></ion-icon>
  </ion-button>
  <div class="ok">
  <div class="container">
    <ion-label class="log">Login or Signup</ion-label><br><br><br>
    <ion-input type="mobileNumber"  > <ion-label>+91</ion-label></ion-input><br>
  <a class="link" color="dark">Use Email Id</a>
  <ion-button class="btn" expand="full" color="dark" routerLink="/dashbord">Continue</ion-button>
  <div class="sing">
    Don't have an account ? <a class="Singin" routerLink="/home" color="dark">Sing In</a></div>

  </div></div>
</ion-content>